		<div id="<%= answer.id %>" class="answers">
			<a href="/users/<%= session[:id].id %>/answers/<%= answer.id %>/vote"><span class="upvote">^</span></a>
			<h3><li><%= answer.body %></li></h3>
		<% unless answer.replies.length == 0 %>
			<% answer.replies.each do |reply| %>
				<%= erb :'single_answer', layout: false, locals: { reply: reply } %>
			<% end %>
		<% end %>

		</div>

		<%= erb :'_reply', layout: false, locals: { post: answer } %>

