<div class="row">
<div class="col s10"><h3>Latest Questions...</h3></div>
<div class="col s2">
</br>
  <% if session[:id] %>
    <a class="btn-floating btn-large waves-effect waves-light red" href="/users/<%= session[:id].id %>/questions/new"><i class="material-icons">add</i></a>
  <% end %>
</div>
</div>
<div class="row">

<ul class="collection question-list">
  <% @questions.each do |question| %>
     <li class="collection-item avatar" id="<%= question.id %>">
      <!-- <img src="images/yuna.jpg" alt="" class="circle"> -->
      <a href="/users/1/questions/<%= question.id %>" class="title"><%= question.title %> ?</a>

      <a href="#!" class="secondary-content"><i class="material-icons">thumb_up</i> <%= question.votes.count %> votes</a>

    </li>

  <% end %>
</ul>
</div>